* {
  margin: 0;
  padding: 0;
}

textarea, input, button { outline: none; }

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-family: 'Seravek';
  background: url(/images/casumobg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: left;
  padding-top: 60px;
  padding-left: 100px;
}


.App-heder {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}

.bounceIco {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

.genreButton {
  opacity: 0.5;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  border-radius: 0px;
  border-bottom: solid 1px #678;
  margin-top: 10px;
  padding: 5px;
  margin-right: 10px;
  color: '#678';
}

.genreButton:hover{
  opacity: 1;
  transition:all 0.3s ease;
}

.genreSelected {
  opacity: 1;
}

.resultItem{
  cursor: pointer
}
.resultItem:hover {
  color: '#678';
  -ms-transform: translate(20px, 0px); /* IE 9 */
  -webkit-transform: translate(20px, 0px); /* Safari */
  transform: translate(20px, 0px);
  transition:all 0.3s ease;
}

/* .loader {
    border: 8px solid #8bf;
    border-top: 8px solid #abf;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: .7;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

.loader {
  height: 100%;

  background-color: transparent;

  background-image:
    linear-gradient(#abf,white),
    linear-gradient(#abf,white),
    linear-gradient(#abf,white),
    linear-gradient(#abf,white),
    linear-gradient(#abf,white),
    linear-gradient(#abf,white),
    linear-gradient(#abf,white);

  background-position-x:
    left,
    10px,
    20px,
    30px,
    40px,
    50px,
    60px,
    70px;

  background-size:
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px;
  background-repeat: no-repeat;

  animation: l-bars 1s linear infinite alternate;
  }

@keyframes l-bars {
  0% {
    background-size:
      5px 30px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  16.6% {
    background-size:
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  33.2% {
    background-size:
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  49.8% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  66.4% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px;
    }
  83% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px;
    }
  100% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px;
    }
  }

.button-up {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.button-up > a {
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: white;
}

.button-up:hover {
  opacity: 1;
  transition: opacity .5s;
}

.turn-invisible {
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
}

.turn-visible {
  opacity: .5;
  transition: opacity 1s;
  visibility: visible;
}

@media (max-width:500px) {
  .App {
    text-align: left;
    padding: 30px;
  }
}
